/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #7e7f84;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: 'Roboto', sans-serif; /*font-family: 'Roboto Condensed', sans-serif;*/
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #f45a40;
	text-decoration: underline;
}
a:hover {
	color: #f45a40;
	text-decoration:none;
}
a:focus, a:active {
	color: #f45a40;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

.center-block-main{
	max-width:1170px; margin:0 auto;
}
.header-top{
	padding:30px 0; border-bottom:1px solid #eee;
}

	.logo{
		float:left; font-size:1.375em; font-family: 'Roboto Condensed', sans-serif;
	}
	.contakt-basket{
		float:right;
	}
		.contakt-basket p{
			float:left; font-size:0.75em; font-weight:600;
		}
			.contakt-basket p img{
				vertical-align:middle; margin-right:3px;
			}
		.header-phone{
			padding-top:8px;
		}
		.header-basket{
			border:1px solid #eee; padding:7px 25px; margin-left:20px;
		}
			.header-basket a{
				text-transform: uppercase; color:#7e7f84; text-decoration:none; margin-left:20px;
			}
			.header-basket a:hover{
				color:#f45a40;
			}
.header-bottom{
	padding:10px 0;
}
	.menu{
		float:left;
	}
		.menu li{
			float:left; text-transform:uppercase; margin-right:30px; font-size:0.875em;
		}
			.menu li a{
				color:#7e7f84; text-decoration:none;
			}
			.menu li a:hover{
				color:#f45a40;
			}
	.search-block{
		float:left; margin-top:-3px;
	}
		.search-btn{
			float:left; margin:5px 5px 0 0;
		}
		.search{
			float:left; font-size:0.875em; color:#7e7f84; border:none; line-height:1.4;
		}

.my-slider{
}
	.my-slider ul li{
		position:relative; color:#f45a40;
	}
	.my-slider ul li h2{
		position:absolute; top:220px; left:30px; font-size:3.6875em; font-weight:bold; line-height:1.1;
	}
	.my-slider ul li p{
		position:absolute; top:370px; left:30px; font-size:0.875em; 
	}
	.unslider-nav{
		max-width:1170px; margin:0 auto; position:relative; top:-40px;
	}
	
.block3-main{
	margin-bottom:50px;
}
	.block3-main article{
		width:31.6%; float:left; margin-left:2.6%;
	}
	.block3-main article:first-child{
		margin-left:0;
	}
	.block3-main article img{
		display:block; margin:0 auto 20px auto;
	}
	.block3-main article h2{
		font-family: 'Roboto Condensed', sans-serif; font-size:1.375em; margin-bottom:20px;
	}
	.block3-main article p{
		font-size:0.875em;
	}
.block4-section{
	margin-bottom:60px;
}
	.block4-section>h2{
		text-align:center; font-family: 'Roboto Condensed', sans-serif; color:#67686d; font-size:1.375em; margin-bottom:30px;
	}
	.block4-main{
	}
		.block4-main article{
			width:23%; margin-left:2.66%; float:left;
		}
		.block4-main article:first-child{
			margin-left:0;
		}
		.block4-main article img{
			display:block; margin:0 auto;
		}
		.block4-main-content{
			padding:20px 20px 0 20px; border:1px solid #eee; border-top:0;
		}
		.block4-main-content h2{
			color:#67686d; font-size:1.125em; text-transform:uppercase; margin-bottom:5px;
		}
		.block4-main-content h3{
			font-size:0.875em; text-transform:uppercase; margin-bottom:10px; font-style:italic;
		}
		.block4-main-content p{
			font-size:0.625em; margin-bottom:15px;
		}
		p.price-basket{
			border-top:1px solid #eee; font-size:0.875em; color:#f45a40; padding:15px 0px 15px 0; margin-bottom:0;
		}
		.price{
			float:left;
		}
		.basket-btn{
			float:right;
		}
	    .ablock4-main-content{
			padding-bottom: 10px;
		} 
.about{
	margin-bottom:60px;
}
	.about article{
		float:left; width:60%;
	}
	.about article h2{
		font-size:1.325em; font-weight:bold; margin-bottom:30px; color:#67686d;
	}
	.about article p{
		font-size:0.875em; margin-bottom:25px; font-style:italic;
	}
	
	.about .map{
		float:right; width:35%;
	}
	.mapin{
		position:relative;
		padding-bottom:75%; /*		450/600		*/
		height:0;
		overflow:hidden;
	}
	.mapin iframe{
		position:absolute; top:0; left:0; width:100%; height:100%;
	}
	
.subscribe{
	background:#f45a40; color:#fff; padding:30px 0;
}
	.subscribe h2{
		float:left; font-size:1.325em; text-transform:uppercase; margin-top:5px;
	}
	.subscribe-form{
		float:right;
	}
	.email-inpt{
		text-transform:uppercase; font-size:0.875em; float:left; width:200px; padding:7px 20px; border:none;
	}
	.submit-inpt{
		background:#ff674f; float:left; margin-left:20px; border:none; color:#fff; text-transform:uppercase; padding:7px 20px; cursor:pointer; font-size:0.875em;
	}
	
.ftr{
	background:#2a2d34; padding:40px 0;
}
	.ftr h2{
		color:#fff; font-size:1.325em; font-family: 'Roboto Condensed', sans-serif; margin-bottom:10px; text-transform:uppercase;
	}
	.ftr p{
		font-size:0.875em; margin-bottom:20px;
	}
	.ftr h3{
		font-size:0.875em; margin-bottom:5px;
	}
		.ftr h3 a{
			color:#fff; text-decoration:none;
		}
		.ftr h3 a:hover{
			text-decoration: underline;
		}
	.support{
		float:left; width:47%; margin-right:3%;
	}
		.support a{
			display:block; margin-bottom:5px; text-decoration:none; color:#7e7f84;
		}
		.support a:hover{
			text-decoration:underline;
		}
	.ftrmail{
		width:100%; text-transform:uppercase; font-size:0.75em; margin-bottom:15px; padding:7px 20px; border:none; box-sizing: border-box;
	}
	.ftrtext{
		width:100%; text-transform:uppercase; font-size:0.75em; margin-bottom:15px; padding:7px 20px; border:none; box-sizing: border-box;
	}
	.ftrsubmit{
		text-transform:uppercase; font-size:0.875em; border:none; background:#f45a40; padding:7px 20px; color:#fff; cursor:pointer;
	}
	
@media screen and (max-width:900px){
	.my-slider ul li h2{
		top:150px; font-size:3em;
	}
	.my-slider ul li p{
		top:270px;
	}
	.block4-main article{
			width:45%; margin:0 2.5% 30px 2.5%; float:left;
		}
		.block4-main article:first-child{
			margin:0 2.5% 30px 2.5%;
		}
		.block4-main{
		border-top:1px;
	}
	
	.subscribe h2{
		float:none; text-align:center; margin:0 0 20px 0;
	}
	.subscribe-form{
		float:none; display:table; margin:0 auto;
	}	
}
@media screen and (max-width:740px){
	.my-slider ul li h2{
		top:100px; font-size:2em;
	}
	.my-slider ul li p{
		top:180px;
	}
	
	.search-block{
		border-top:1px solid #eee; border-bottom:1px solid #eee; margin-top:10px; padding:5px 0 7px 0; float:right;
	}
}
@media screen and (max-width:600px){
	.block3-main article{
		width:95%; float:none; margin:0 2.5% 30px 2.5%;
	}
	.block3-main article:first-child{
		 margin:0 2.5% 30px 2.5%;
	}
	.about article{
		float:none; width:95%; margin:0 2.5% 30px 2.5%;
	}
	.about .map{
		float:none; width:95%; margin:0 2.5% 30px 2.5%;
	}
}
@media screen and (max-width:480px){
	.my-slider ul li h2{
		top:50px; font-size:1.275em;
	}
	.my-slider ul li p{
		top:110px;
	}
	.block4-main article{
			width:95%; margin:0 2.5% 30px 2.5%; float:none; overflow:hidden;
		}
		.block4-main article:first-child{
			width:95%; margin:0 2.5% 30px 2.5%; float:none;
		}
}
@media screen and (max-width:410px){
	.header-top{
		padding:10px 0;
	}
	.logo{
		float:none; text-align:center; margin-bottom:10px;
	}
	.contakt-basket{
		float:none; display:table; margin:0 auto;
	}
}
@media screen and (max-width:360px){
	.email-inpt{
		float:none; width:95%; margin:0 2.5% 20px 2.5%; box-sizing:border-box;
	}
	.submit-inpt{
		margin-left:2.5%;
	}
	.my-slider ul li h2{
		top:30px; font-size:1em;
	}
	.my-slider ul li p{
		top:80px;
	}
}